<!-- カテゴリー別一覧表示のときにタイトルを変える -->
<% provide :title, @blogs.first.category unless params[:category].nil? %>
<body>
    <!-- Navigation -->
<%= render "nav" %>
    <!-- Page Header -->
    <header class="masthead" style="background-image: url(<%= image_url 'blog_bg.jpg' %>)">
    <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>もぐもぐブログ</h1>
              <span class="subheading">もぐもぐ動物病院ができるまで...</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Flash Message -->
    <%= render "flash" %>

    <!-- Main Content -->

    <%= render 'blogindex' %>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p class="copyright text-muted">Copyright &copy; もぐもぐ動物病院</p>
          </div>
        </div>
      </div>
    </footer>

  </body>

</html>
