<!-- Mask & flexbox options-->
<div class="mask rgba-black-light d-flex flex-column justify-content-around align-items-around">
  <!-- Content -->
  <div class="text-center white-text mx-1 wow fadeIn">
    <h1 class="mt-5 pt-5">
      もぐもぐ動物病院
    </h1>
  </div>
  <!-- Content -->
  <div class="row">
    <div class="col-sm-2 offset-sm-3">
      <img class="d-block mx-auto icon" src="<%= image_url('s_icon_morning.png') %>" alt="">
    </div>
    <div class="col-sm-2">
      <img class="d-block mx-auto" src="<%= image_url('s_icon_afternoon.jpg') %>" alt="">
    </div>
    <div class="col-sm-2">
      <img class="d-block mx-auto" src="<%= image_url('s_icon_night.jpg') %>" alt="">
    </div>
  </div>
</div>
<!-- Mask & flexbox options-->