<h2 class="my-5 h3 text-center">院長あいさつ/経歴</h2>

<!--First row-->
<div class="row features-small mb-5 mt-3 wow fadeIn">

  <!--First column-->
  <div class="col-md-8">
    <!--First row-->
    <div class="row">
      <div class="col-2 flex-center">
        <i class="fas fa-comment fa-2x indigo-text"></i>
      </div>
      <div class="col-10">
        <h3 class="feature-title mb-3">ごあいさつ</h3>
        <p class="grey-text">生まれも育ちも全く違うところですが、<br>
                            石狩市に動物の夜間および休日診療体制を構築すべく開業しました。<br>
                            いずれは24時間体制の動物病院を創りたいと考えています。<br>
                            もぐもぐ動物病院　病院長　筈見友洋
        </p>
        <div style="height:15px"></div>
      </div>
    </div>
    <!--/First row-->

    <!--Second row-->
    <div class="row">
      <div class="col-2 flex-center">
        <i class="fas fa-address-book fa-2x orange-text"></i>
      </div>
      <div class="col-10">
        <h3 class="feature-title mb-3">プロフィール</h3>
        <h6>経歴</h6>
        <p class="grey-text">
          酪農学園大学獣医学部獣医学科卒業<br>
          元酪農学園大学附属動物病院 眼科研修医<br>
          元札幌ノースアニマルクリニック 勤務医<br>
          インターパーク動物病院 勤務医
        </p>
        <div style="height:15px"></div>
        <h6>所属</h6>
        <p class="grey-text">
          日本獣医師会
        </p>
        <div style="height:15px"></div>
        <h6>学会発表/執筆</h6>
        <p class="grey-text">
          酪農学園大学における犬の難治性角膜上皮びらんの治療成績<br>(2008年北海道獣医師会雑誌)<br>
          酪農学園大学における進行性網膜萎縮と診断したミニチュア・ダックスフントの回顧的検討<br>(2013年北海道獣医師会雑誌)<br>
          経結膜アプローチにより眼窩腫瘍を視認し生検した犬の1例<br>(2014年北海道獣医師会雑誌)<br>
          強膜内シリコンインプラント挿入術後の角膜知覚と涙液量について<br>(2012年比較眼科学会年次大会)<br>
          造影CT検査により犬のインスリノーマの術前評価を行った犬の2症例<br>(2012年北海道獣医師会雑誌)
        </p>
        <div style="height:15px"></div>
      </div>
    </div>
    <!--/Second row-->
  </div>
  <!--/First column -->

  <!--Second column-->
  <div class="col-md-4 flex-center">
    <img src="https://mdbootstrap.com/img/Others/screens.png" alt="MDB Magazine Template displayed on iPhone"
      class="z-depth-0 img-fluid">
  </div>
  <!--/Second column-->