<h1 class="feature-title text-center mt-5 mb-5">キャッチ：石狩市の動物病院です</h1>

<!--Grid row-->
<div class="row wow fadeIn">

  <!--Grid column-->
  <div class="col-lg-6 col-md-12 px-4">

    <!--First row-->
    <div class="row">
      <div class="col-1 mr-3">
        <i class="fas fa-paw fa-2x orange-text"></i>
      </div>
      <div class="col-10">
        <h5 class="feature-title">もぐもぐ動物病院</h5>
        <p class="grey-text">石狩市に開院したもぐもぐ動物病院は、昼間も夜間も受診できる動物病院です。<br>
        札幌・小樽・石狩にお住まいのペット愛好家のみなさまと一緒に、ペットの健康と安全を全力でサポートいたします。</p>
      </div>
    </div>
    <!--/First row-->

    <div style="height:30px"></div>

    <!--Second row-->
    <div class="row">
      <div class="col-1 mr-3">
        <i class="fas fa-briefcase-medical fa-2x red-text"></i>
      </div>
      <div class="col-10">
        <h5 class="feature-title">診療</h5>
        <p class="grey-text">こんなことに力入れています
        </p>
      </div>
    </div>
    <!--/Second row-->

    <div style="height:30px"></div>

    <!--Third row-->
    <div class="row">
      <div class="col-1 mr-3">
        <i class="fas fa-moon fa-2x yellow-text"></i>
      </div>
      <div class="col-10">
        <h5 class="feature-title">夜間も対応</h5>
        <p class="grey-text">夜もやってますので</p>
      </div>
    </div>
    <!--/Third row-->

  </div>
  <!--/Grid column-->

  <!--Grid column-->
  <div class="col-lg-6 col-md-12">

    <p class="h5 text-center mb-4">院内紹介</p>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cXTThxoywNQ" allowfullscreen></iframe>
    </div>
  </div>
  <!--/Grid column-->

</div>
<!--/Grid row-->