<!--Main layout-->
<div class="container" id="about">

  <!--Section: Main -->
  <section>
    <%= render "introduce" %>
  </section>
  <!--Section: Main-->

  <hr class="my-5" id="schedule">

  <!--Section: Calendar-->
  <section class="mt-5 wow fadeIn">
    <!--Grid row-->
    <div class="row">
      <div id="calendar"></div>
    </div>
    <!--Grid row-->
  </section>
  <!--Section: Main info-->

  <hr class="my-5" id="greeting">

  <!--Section: greeting-->
  <section>
    <%= render "greeting"%>
  </section>
  <!--Section: greeting -->

  <hr class="mb-5" id="information">

  <!--Section: Magazine v.1-->
  <section class="wow fadeIn">
    <%= render "bloglayout" %>
  </section>
  <!--/Section: Magazine v.1-->

  <hr class="mb-5" id="facility">

  <!--Section: More-->
  <section>
    <%= render "facility" %>
  </section>
  <!--Section: More-->

</div>
<!--Main layout-->