<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand" href="https://mdbootstrap.com/docs/jquery/" target="_blank">
      <strong>もぐもぐ</strong>
    </a>

    <!-- Collapse -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Left -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#about">当院について</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#schedule">診療案内</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#greeting">院長あいさつ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#information">おしらせ</a>
        </li>
      </ul>

      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a href="#facility" class="nav-link">設備紹介</a>
        </li> 
        <li class="nav-item">
          <a href="#access" class="nav-link" data-toggle="modal" data-target="#modalRegular">アクセス</a>
        </li>
        <li class="nav-item">
          <a href="<%= blogs_path %>" class="nav-link border border-light rounded">
          <i class="fas fa-book"></i>もぐもぐブログ</a>
        </li>
      </ul>

    </div>

  </div>
</nav>
<!-- Navbar -->
