<header>
  <%= render "navbar" %>
  <%= render "carousel" %>
</header>

<main>
  <%= render "main" %>
</main>

<!--Footer-->
<%= render "footer" %>
<!--/.Footer-->

<script type="text/javascript">
  // Animations initialization
  new WOW().init();

</script>
